<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Your items</h1>
    </header>
    <section id="content">
        <div class="item">
            <h2>Tv without controller</h2>
            <img src="../../../assets/Tv_example.jpg" alt="Tv_example">
        </div>
        <div class="item">
            <h2>Jacket size L</h2>
            <img src="../../../assets/Jacket_example.jpg" alt="Jacket_example">
        </div>
        <div class="item">
            <h2>Nintendo switch blue</h2>
            <img src="../../../assets/switch_example.jpg" alt="switch_example">
        </div>
    </section>
</body>
</html>


