.jumbotron {
    background-color: #7300ff;
    color: #fff;
    padding: 20px;
  }
  .text-center{
    position: relative;
    text-align: center;
  }

  .jumbotron div.control{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .jumbotron h1 {
    font-size: 36px;
  }
  
  .jumbotron p.lead {
    font-size: 18px;
  }
  
  .jumbotron a.btn {
    margin-top: 20px;
    margin-right: 10px;
    color: #7300ff;
  }
  .jumbotron div.button {  
    text-align: center;
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
  }
  
  .row {
    margin-top: 30px;
    display: flex;
  }
  
  .col-md-4 {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .col-md-4 h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .col-md-4 p {
    font-size: 16px;
  }
  