#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000000; 
  color: #fff; 
  padding: 10px;
}

.navbar-left, .navbar-right {
  list-style: none;
  padding: 0;
}

.navbar-left li, .navbar-right li {
  display: inline;
  margin-right: 20px;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar-left a, .navbar-right a {
  text-decoration: none;
  color: #fff; 
  transition: color 0.3s; 
}

.navbar-left a:hover, .navbar-right a:hover {
  color: #7300ff; 
}



  